[submodule "compiler"]
	path = compiler
	url = https://github.com/Kina-lang/Compiler.git
[submodule "docs"]
	path = docs
	url = https://github.com/Kina-lang/Docs.git
[submodule "cli"]
	path = cli
	url = https://github.com/Kina-lang/Cli.git
[submodule "libs/llvm"]
	path = libs/llvm
	url = https://github.com/Kina-lang/LLVM.git
[submodule "runtime"]
	path = runtime
	url = https://github.com/Kina-lang/Runtime.git
