[submodule "repos/lexer"]
	path = repos/lexer
	url = https://github.com/Kina-lang/Lexer.git
[submodule "repos/compiler"]
	path = repos/compiler
	url = https://github.com/Kina-lang/Compiler.git
[submodule "repos/utils"]
	path = repos/utils
	url = https://github.com/Kina-lang/Utils.git
[submodule "repos/ast"]
	path = repos/ast
	url = https://github.com/Kina-lang/AST.git
[submodule "repos/semantic-analyzer"]
	path = repos/semantic-analyzer
	url = https://github.com/Kina-lang/SemanticAnalyzer.git
[submodule "repos/ir-builder"]
	path = repos/ir-builder
	url = https://github.com/Kina-lang/IRBuilder.git
